<div class="row text-center vh-100 align-items-center">
    <div class="col-sm-2 mx-auto" style="min-width: 300px">
        <div class="vstack gap-4">
            <span class="display-5">    
                <img class="img-fluid" style="width:90px" src="/assets/images/angular.svg">SnakeNg
            </span>
            <form [formGroup]="gameOptionsForm" class="w-100">
                <div class="form-floating">
                    <input formControlName="playerName" type="text" class="form-control" id="floatingInput" placeholder="Enter player name">
                    <label for="floatingInput">Name</label>
                </div>
                <p class="text-danger text-start" *ngIf="playerName!.invalid && (playerName!.dirty || playerName!.touched)" >
                    Name must contain at least 3 characters.
                </p>
                <div class="form-floating mt-3">
                    <select formControlName="gameMode" class="form-select" id="gmaeModes" aria-label="Game mode">
                        <option *ngFor="let mode of gameModes">{{mode}}</option>
                    </select>
                    <label for="floatingSelect">Game Mode</label>
                  </div>
            </form>
            <button type="submit" (click)="handlePlayClicked()" class="btn btn-danger">
                <div class="row gx-0">
                    <div class="col-12 text-center">
                        Play
                        <i class="bi bi-chevron-compact-right float-end"></i>
                    </div>
                </div>
            </button>
            <button type="button" [routerLink]="'/highscores'" class="btn btn-danger">
                <div class="row gx-0">
                    <div class="col-12 text-center">
                        High Scores
                        <i class="bi bi-chevron-compact-right float-end"></i>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>