<div class="row col-12 text-center">
    <h1 class="mb-4">    
        <img class="img-fluid" style="width:90px" src="/assets/images/angular.svg">SnakeNg
    </h1>
</div>
<div class="row col-12 text-center">
    <h3>Score: {{score}}</h3>
</div>
<div class="row col-12 text-center">
    <sng-gameboard #gameboard></sng-gameboard>
</div>
<div class="row text-center mt-4">
    <div class="col-4 offset-4">
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="startGameLoop()">Play!</button>
    </div>
</div>
<div class="row text-center mt-4">
    <div class="col-4 offset-4">
        <h3>{{message}}</h3>
    </div>
</div>
