<div class="row col-lg-12 text-center">
    <div class="row col-lg-12">
        <h1 class="mb-2">
            <img class="img-fluid" style="width:90px" src="/assets/images/angular.svg">SnakeNg
        </h1>
    </div>
</div>
<div class="row col-12 text-center">
    <h2 class="text-danger">Blitz</h2>
</div>
<div class="row col-12 text-center">
    <h3>Score: {{score}}</h3>
</div>
<div class="row col-12 mb-2 justify-content-center" style="min-width: 750px;">
    <div class="progress p-0" style="width: 750px">
        <div [class.progress-bar-fast]="!isPreGameOrPostGame"
             [ngStyle]="{'width': progressBarPercentage | percentage}"
             class="progress-bar bg-danger progres-bar-fast"
             role="progressbar"
             aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
</div>
<div class="row col-12 text-center">
    <sng-gameboard #gameboard (pelletConsumed)="handlePelletConsumed()"></sng-gameboard>
</div>
<div class="row text-center mt-4">
    <div class="col-4 offset-4">
        <h3>{{message}}</h3>
    </div>
</div>
<div *ngIf="isPreGameOrPostGame === true" class="mt-4">
    <div class="row text-center">
        <div class="col-4 offset-4">
            <button type="button" class="btn btn-danger btn-lg btn-block" (click)="startGameLoop()">Play</button>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-4 offset-4">
            <a class="btn btn-outline-danger btn-lg" (click)="returnToMenu()">Main Menu</a>
        </div>
    </div>
</div>